<div class="ang23-container">
  <div class="container">
    <br />

    <label>
      Material 3
      <md-checkbox checked></md-checkbox>
    </label>
    <br />
    <md-outlined-button>Back</md-outlined-button>
    <md-filled-button>Next</md-filled-button>
    <br />
    <br />
    <md-tabs>
      <md-primary-tab>Video</md-primary-tab>
      <md-primary-tab>Photos</md-primary-tab>
      <md-primary-tab>Audio</md-primary-tab>
    </md-tabs>
    <br />
    <md-tabs>
      <md-secondary-tab>Birds</md-secondary-tab>
      <md-secondary-tab>Cats</md-secondary-tab>
      <md-secondary-tab>Dogs</md-secondary-tab>
    </md-tabs>
    <br />

    <div style="display: block">
      <md-circular-progress value="0.75"></md-circular-progress>
      <md-circular-progress indeterminate></md-circular-progress>

      <md-linear-progress indeterminate></md-linear-progress>
      <md-linear-progress value="0.5"></md-linear-progress>
    </div>
  </div>
  <br />
  <md-slider></md-slider>
  <md-slider ticks value="50"></md-slider>
  <md-slider range value-start="25" value-end="75"></md-slider>
  <md-slider min="0" max="100" value="50"></md-slider>

  <br />
  <md-filled-text-field label="Label" value="Value"> </md-filled-text-field>
  <br />
  <br />
  <md-outlined-text-field label="Label" value="Value"> </md-outlined-text-field>
  <img
    src="../../../../assets/logo.png"
    alt=""
    class="center"
    style="padding-top: 150px"
  />
</div>

<!--div style="height: 100%"></div-->
