<div class="container">
  <h1>Dynamic Grid</h1>
  <span>Dinamikusan generált grid. Reload gombon valós http call dörren.</span>
  <br />
  <br />
  <div style="gap: 5%; display: flex">
    <button mat-raised-button (click)="loadDefaults()">Default</button>
    <button mat-raised-button color="primary" (click)="reloadFromService()">
      Reload
    </button>

    <button
      mat-raised-button
      color="primary"
      [disabled]="!selection.hasValue()"
      (click)="openDialog(selection.selected)"
    >
      Update
    </button>
  </div>
  <br />
  <br />

  <div>
    <mat-table
      *ngIf="displayedColumns"
      [dataSource]="dataSource"
      class="mat-elevation-z18 demo-table"
    >
      <!-- Dynamic Definitions -->
      <ng-container
        *ngFor="let column of displayedColumns?.display; let index"
        [matColumnDef]="column.name"
      >
        <mat-header-cell *matHeaderCellDef>
          {{ column.header }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row[column.name] }} </mat-cell>
      </ng-container>

      <!-- Id Definition -->
      <!--       <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
      </ng-container> -->

      <!-- Name Definition -->
      <!--       <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container> -->

      <!-- Email Definition -->
      <!--       <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
      </ng-container> -->

      <!-- Selection Definition -->
      <ng-container matColumnDef="select">
        <mat-header-cell *matHeaderCellDef>
          <span *ngIf="allowMultiSelect"></span>
          <mat-checkbox
            *ngIf="allowMultiSelect"
            (change)="$event ? toggleAllRows() : null"
            [checked]="selection.hasValue() && isAllSelected()"
            [indeterminate]="selection.hasValue() && !isAllSelected()"
          >
          </mat-checkbox>
        </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            (click)="$event.stopPropagation(); onSelectionChange(row)"
            [checked]="selection.isSelected(row)"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>
      <!-- Header and Row Declarations -->
      <mat-header-row
        *matHeaderRowDef="displayedColumns.columns"
      ></mat-header-row>
      <mat-row
        matRipple
        (click)="$event.stopPropagation(); onRowChange(row)"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        *matRowDef="let row; columns: displayedColumns.columns"
      ></mat-row>
    </mat-table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </div>

  <br />
  <br />
  <div>
    <h3>Current selection</h3>
    <span *ngIf="selection.selected.length">{{
      selection.selected | json
    }}</span>
  </div>
</div>

<!-- <ang23-base-edit-form></ang23-base-edit-form>-->

<!--

  mattable
-->

<div *ngIf="false" class="mat-elevation-z8 demo-table" style="padding: 5px">
  <table
    *ngIf="displayedColumns"
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 demo-table"
  >
    <!-- Dynamic Columns -->
    <ng-container
      *ngFor="let column of displayedColumns?.display; let index"
      [matColumnDef]="column.name"
    >
      <th mat-header-cell *matHeaderCellDef>{{ column.header }}</th>
      <td mat-cell *matCellDef="let element">
        {{ element[column.name] }}
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button (click)="openDialog(element)">Edit</button>
      </td>
    </ng-container>

    <!-- Selection Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="allowMultiSelect"></span>
        <mat-checkbox
          *ngIf="allowMultiSelect"
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-checkbox
          (click)="$event.stopPropagation(); onSelectionChange(element)"
          (change)="$event ? selection.toggle(element) : null"
          [checked]="selection.isSelected(element)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns?.columns"></tr>
    <tr
      mat-row
      (click)="clickedRows.add(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; columns: displayedColumns?.columns"
    ></tr>
  </table>
  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
  <div>
    <h3>Click Log</h3>
  </div>

  <div *ngIf="!clickedRows.size">Clicked rows will be logged here</div>

  <ul>
    <li *ngFor="let clickedRow of clickedRows">
      Clicked on {{ clickedRow | json }}
    </li>
  </ul>
</div>
