::ng-deep .demo-table {
  width: 100%;
}

::ng-deep .mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

::ng-deep .mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}

::ng-deep .demo-row-is-clicked {
  font-weight: bold;
}

/* ::ng-deep .mat-mdc-no-data-row {
  //content: "No data";
  // margin: 0 auto;
} */

::ng-deep .mat-mdc-no-data-row {
  padding: 30px !important;
  margin: 30px;
}

::ng-deep .no-data-row .mat-mdc-no-data-row {
  padding: 30px;
  text-align: center;
}

ng-scrollbar {
  height: 400px;
  --scroll-padding-left: 2px;
  --scrollbar-size: 8px;
  --scrollbar-thumb-color: rgb(199, 199, 199);
  --scrollbar-hover-size: 12px;
  --scrollbar-track-color: rgba(0, 0, 0, 0.05);
  --scrollbar-border-radius: 10px;
}
