<div style="margin-top: 15px; position: relative">
  <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      background: rgba(255, 255, 255, 0.6);
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
    "
    *ngIf="loading"
  >
    <mat-progress-spinner color="primary" mode="indeterminate" diameter="50">
    </mat-progress-spinner>
  </div>
  <table
    mat-table
    matSort
    [dataSource]="tableDataSource"
    (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z10"
  >
    <!-- Selection Definition -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <span *ngIf="allowMultiSelect">Kijelölés</span>
        <!--         <mat-checkbox
          *ngIf="allowMultiSelect"
          (change)="$event ? toggleAllRows() : null"
          [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()"
        >
        </mat-checkbox> -->
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation(); onSelectionChange(row)"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>
    <!-- Dynamic Definitions -->
    <ng-container
      *ngFor="let column of displayedColumns?.display; let index"
      [matColumnDef]="column.name"
    >
      <th mat-header-cell mat-sort-header *matHeaderCellDef>
        {{ column.header }}
      </th>

      <ng-container *ngIf="column.type === 'date'">
        <td mat-cell *matCellDef="let row">
          {{ row[column.name] | date }}
        </td>
      </ng-container>
      <ng-container *ngIf="column.type === 'monetary'">
        <td mat-cell *matCellDef="let row">
          {{ row[column.name] }}
        </td>
      </ng-container>
      <ng-container *ngIf="column.type === 'string'">
        <td mat-cell *matCellDef="let row">
          {{ row[column.name] }}
        </td>
      </ng-container>
      <ng-container *ngIf="column.type === 'number'">
        <td mat-cell *matCellDef="let row">
          {{ row[column.name] | number }}
        </td>
      </ng-container>
    </ng-container>

    <!-- Id Definition -->
    <!--       <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
      </ng-container> -->

    <!-- Name Definition -->
    <!--       <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.name }} </mat-cell>
      </ng-container> -->

    <!-- Email Definition -->
    <!--       <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{ row.email }} </mat-cell>
      </ng-container> -->

    <!-- Action Definition -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <!--           <button mat-menu-item (click)="openDialog(selection.selected)">
            Módosítás
          </button>
          <button mat-menu-item (click)="removeHandler(selection.selected)">
            Törlés
          </button> -->
        </mat-menu>
      </td>
    </ng-container>
    <!-- Header and Row Declarations -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns.columns"></tr>
    <tr
      mat-row
      class="table-row"
      (click)="$event.stopPropagation(); onRowChange(row)"
      [class.demo-row-is-clicked]="clickedRows.has(row)"
      *matRowDef="let row; let even = even; columns: displayedColumns.columns"
      [ngClass]="{ gray: even }"
    ></tr>
  </table>
  <mat-paginator
    class="mat-elevation-z10"
    [pageSizeOptions]="paginationSizes"
    [pageSize]="defaultPageSize"
    [length]="paginationLength"
    [pageIndex]="pageIndex"
    (page)="handlePageEvent($event)"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
</div>

<!--
<br />
<br />
<div>
  <h3>Current selection</h3>
  <span *ngIf="selection.selected.length">{{ selection.selected | json }}</span>
</div>-->
