:host {
  margin-bottom: 15px;
}

/*.table-row:focus {
  background: tomato;
  outline: none;
}
.table-row:focus mat-cell {
  color: white;
}*/

.mat-table {
  overflow-x: scroll;
}

/*.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}*/
