<div class="ang23-container">
  <div class="ang23-header">
    <h1>Rich text editor</h1>
    <span>editorjs & ngx-editor</span>
  </div>

  <br />
  <br />
  <div id="editorjs"></div>

  <div class="NgxEditor__Wrapper">
    <ngx-editor-menu [editor]="ngx_editor"> </ngx-editor-menu>
    <ngx-editor
      [editor]="ngx_editor"
      [(ngModel)]="html"
      [disabled]="false"
      [placeholder]="'Type here...'"
    ></ngx-editor>
  </div>
  <br />
  <span>ngx-editor content:</span>
  <div [innerHTML]="html"></div>
</div>
